<h1>Welcome to Section 2</h1>
<p>This is the second section of our website. Here you can learn more about our team and our mission.</p>
<p>Don't forget to check out other sections by clicking on the menu above.</p>