<h1>Welcome to Section 1</h1>
<p>This is the main section of our website. Here you can find information about our services and products.</p>
<p>Feel free to explore other sections using the menu above.</p>